.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.blockT , .blockL, .blockTable, .blockI{
    position: relative;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    color: black;
    font-family: 'Whisper', cursive;
}

.blockT{
 background-color: aquamarine;
}

.blockL {
 background-color: beige;
}

.blockTable {
 background-color: azure;
}

.blockI {
 background-color: aqua;
}

.caption1, .caption2, .caption3, .caption4 {
    display:block;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 1px solid black;
    margin:0;
    font-size: 120%;
    font-family: 'Oswald', sans-serif;
 
}
.caption1 {
    background-color: rgb(202, 57, 81);
    color: rgb(0, 0, 0);
 
}
.caption2 {
    background-color: rgb(57, 167, 231);
    color: rgb(0, 0, 0);
  
}
.caption3 {
    background-color: rgb(5, 102, 18);
    color: rgb(0, 0, 0);

}

.caption4 {
    background-color: rgb(255, 240, 33);
    color: rgb(0, 0, 0);
    
}

h1,h2,h3 {
font-family: 'Dhurjati', sans-serif;
}

@media  (min-width:1200px) {
    .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 
.col-xl-1 {
width: 8.33%;
}
.col-xl-2 {
width: 16.66%;
}
.col-xl-3 {
width: 25%;
}
.col-xl-4 {
width: 33.33%;
}
.col-xl-5 {
width: 41.66%;
}
.col-xl-6 {
width: 50%;
}
.col-xl-7 {
width: 58.33%;
}
.col-xl-8 {
width: 66.66%;
}
.col-xl-9 {
width: 75%;
}
.col-xl-10 {
width: 83.33%;
}
.col-xl-11 {
width: 91.66%;
}
.col-xl-12 {
width: 100%;
}
}

@media (max-width: 1200px) and (min-width:993px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 
.col-lg-1 {
width: 8.33%;
}
.col-lg-2 {
width: 16.66%;
}
.col-lg-3 {
width: 25%;
}
.col-lg-4 {
width: 33.33%;
}
.col-lg-5 {
width: 41.66%;
}
.col-lg-6 {
width: 50%;
}
.col-lg-7 {
width: 58.33%;
}
.col-lg-8 {
width: 66.66%;
}
.col-lg-9 {
width: 75%;
}
.col-lg-10 {
width: 83.33%;
}
.col-lg-11 {
width: 91.66%;
}
.col-lg-12 {
width: 100%;
}
}
 @media  (max-width: 992px) and (min-width:769px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 
    .col-md-1 {
    width: 8.33%;
    }
    .col-md-2 {
    width: 16.66%;
    }
    .col-md-3 {
    width: 25%;
    }
    .col-md-4 {
    width: 33.33%;
    }
    .col-md-5 {
    width: 41.66%;
    }
    .col-md-6 {
    width: 50%;
    }
    .col-md-7 {
    width: 58.33%;
    }
    .col-md-8 {
    width: 66.66%;
    }
    .col-md-9 {
    width: 75%;
    }
    .col-md-10 {
    width: 83.33%;
    }
    .col-md-11 {
    width: 91.66%;
    }
    .col-md-12 {
    width: 100%;
    }
    }
@media (max-width: 768px) {
    .col-min-1, .col-min-2, .col-min-3, .col-min-4, .col-min-5, .col-min-6, .col-min-7, .col-min-8, .col-min-9, .col-min-10, .col-min-11, .col-min-12 
.col-min-1 {
width: 8.33%;
}
.col-min-2 {
width: 16.66%;
}
.col-min-3 {
width: 25%;
}
.col-min-4 {
width: 33.33%;
}
.col-min-5 {
width: 41.66%;
}
.col-min-6 {
width: 50%;
}
.col-min-7 {
width: 58.33%;
}
.col-min-8 {
width: 66.66%;
}
.col-min-9 {
width: 75%;
}
.col-min-10 {
width: 83.33%;
}
.col-min-11 {
width: 91.66%;
}
.col-min-12 {
width: 100%;
}
}
