
		
	#biography:link {
		color:black;
	}

	#biography:visited {
		color:red;
	}

	#nowadays:link {
		color:green;
	}

	#nowadays:visited {
		color:yellow;
	}

	#friends:link {
		color:pink;
	}

	#friends:visited {
		color:salmon;
	}

	#gallery:link {
		color:purple;
	}

	#gallery:visited {

        color: gray;
    }

    h1 {
  text-align: center;
  font-size: 24px;
       }

    p {
  font-size: 120%;
    }


ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

 .flex{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

@media (min-width: 992px) {
    
    a{
        display:inline-block;
    }
    .col-lg-3 {
    flex-basis: 25%;
    }
    .col-lg-6 {
    flex-basis: 50%;
    }
    
    .col-lg-12 {
    flex-basis: 100%;
    }
    }
@media (min-width: 768px) and (max-width: 992px) {
   
    .col-md-3 {
    flex-basis: 25%;
    }
    .col-md-6 {
    flex-basis: 50%;
    }
        
    .col-md-12 {
    flex-basis: 100%;
    }
    }
@media (max-width:  768px) {
   
    .col-mn-3 {
    flex-basis: 25%;
    }
    .col-mn-6 {
    flex-basis: 50%;
    }
        
    .col-mn-12 {
    flex-basis: 100%;
    }
    }


    
   

